bin/
bin-test/
bin-js/
bin-flows/
web/.cache/
dist/
coverage/
!java/coverage
target/
docs/bot-flow-test-charts/generated/

node_modules/

.DS_Store
*npm-debug.log
*.sublime-workspace

.metadata/
.recommenders/
developers/eclipse-workspace/.ucdetector_reports
developers/eclipse-workspace/.sonarlint
!developers/eclipse-workspace/.metadata
developers/eclipse-workspace/.metadata/*
!developers/eclipse-workspace/.metadata/.plugins
developers/eclipse-workspace/.metadata/.plugins/*
!developers/eclipse-workspace/.metadata/.plugins/org.eclipse.core.runtime
developers/eclipse-workspace/.metadata/.plugins/org.eclipse.core.runtime/.settings/*

__pycache__/
*.py[cod]
.ipynb_checkpoints

.idea
*.iml

test-output/

lambda/ts/.cache
lambda/ts/dist
lambda/**/*.log

.project

# python coverage
.coverage
coverage.xml

# TS build artifacts
ts/packages/lambda/bundle.zip
.cache

# Generated javadoc HTML
java/appserver/src/main/resources/dyn/appserver/cc/javadoc/

# python deps
py/lambda/*/lib
venv

.exec